<a href="https://colab.research.google.com/github/Susheel06/pandas-basics/blob/master/Basics_of_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Tutorial on using **PANDAS** libary in Python:

####1) Importing required libraries:

In [0]:
import pandas as pd

####2) Creating a data frame:

*Dataframe is a two-dimensional size-mutable, tabular data structure with labeled axes i.e., name given to each Column in the table. So here, we have hard-coded a table using pandas dataframe.*


```
pd.DataFrame(
    1. Contains table values denoted by 2D List.
      Example: [[1, 2, ... , 26], ... , [23, 34, ... , 54]]
      Note: List are mutable in phython where tuples are not.
    2. Put the index values as "index=[0, 1, ... , n]"
    3. Give the title for each column created as "columns=['a', 'b', ... , 'z']"
)

```
*Check the below example for better understanding.*

In [0]:
df = pd.DataFrame([['Jan', 'winter', 21, 12], 
                   ['Feb', 'winter', 23, 15], 
                   ['March', 'Spring', 26, 18], 
                   ['April', 'Spring', 28, 20], 
                   ['May', 'Summer', 30, 25], 
                   ['June', 'Summer', 37, 28], 
                   ['July','Summer', 43, 32],
                   ['August', 'Rainy', 36, 27],
                   ['September', 'Rainy', 33, 26],
                   ['Octoboer', 'Rainy', 30, 24],
                   ['November', 'Winter', 27, 19],
                   ['December', 'Winter', 20, 11]], 
                  index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 
                  columns = ['Months', 'Climate', 'Temp_MAX', 'Temp_MIN'])
print(df)

*Else you can import data from .csv file in pandas as a data frame as follows:*

In [0]:
df = pd.read_csv('file_location/file_name.csv')

####3) Getting to know how about ***HEAD*** and ***TAIL*** function in Pandas:

In [0]:
print(df.head(3))                                                               # fn returns top 3 values in the data frame
print('\n')
print(df.tail())                                                                #function returns bottom 5 values in the data frame

####4) Dataframe insights:

In [0]:
print(df.dtypes)                                                                #fn returns data types of values in the every column
print()

print(df.index)                                                                 #fn returns index and its corresponding data type
print()

print(df.columns)                                                               #fn returns column and its corresponding data type
print()

print(df.values)                                                                #fn returns only table values without columns and index
print()

print(df.describe())                                                            #fn returns statistical analysis of the data frame

####5) ***Slicing*** Functions:

In [0]:
print(df['Climate'])                                                            # OR print(df.Climate)  //  fn to return selected column values
print()

print(df[['Climate','Temp_MAX']])                                               # fn to return tabular values from two or more column values as per requirements
print()

print(df[2:5])                                                                  # fn to return tabular values from row 2 to 4. Similar to list/tuple operation in python
print()

print(df.loc[3:8, ['Climate', 'Temp_MAX']])                                     # fn to return selected rows i.e., from row 3 to 7 and columns i.e., Climate and Temp_MAX values only 
print()

print(df.iloc[3:8, 0:3])                                                        # fn to return selected rows i.e., from row 3 to 7 and column(based on index) values
# OR - print(df.iloc[3:8, 0,3])                                                 # Similar to above but values returned only from column 0 and 3 as per example

####6) ***Sorting*** Functions:

In [0]:
print(df.sort_values('Temp_MAX', ascending=True))                               # Sorting based on a column value in ascneding order
# OR - print(df.sort_values('Temp_MAX'))
print()

print(df.sort_values('Temp_MAX', ascending=False))                              # Sorting based on a column value in descneding order




####7) ***Filtering*** Functions:

In [0]:
print(df[df['Temp_MAX']>30])                                                    # fn returns all row and column values for vector magnitude of 'Temp_MAX' > 30
print()

print(df[df.Months.isin(['Jan', 'Feb', 'March', 'April'])])                     # fn returns all row and column values of months Jan, Feb, March and April
print()

####8) ***Updating/Editing*** values in data-frame:   
~ to *slicing*

In [0]:
print(df[3:4])                                                                  # Printing row 4 initial values
print()
df.loc[3, ['Temp_MAX']] = 45                                                    # Updating row 4(index=3) and Temp_MAX column from 28 to 45
print(df[3:4])                                                                  # Printing row 4 final updated 
print()

print(df)                                                                       # Printing row 4 initial values
print()                                                                        
df.loc[:, ['Temp_MAX']] = 45                                                    # Updating all row values of Temp_MAX column to 45
print(df)                                                                       # Printing row 4 final updated values
print()

df['Temp_MED'] = (df.Temp_MAX + df.Temp_MIN)/2                                  # Fn to add a new column to our dataframe
print(df.head())
print()

df.rename(columns={'Climate':'Weather'}, inplace=True)                          #Fn to update a column name
print(df.head(2))

df.columns = ['A', 'B', 'C', 'D', 'E']                                          #Fn to update all the columns name
print(df.head(1))

####9) ***for_loop*** iteration in Pd:     
**NOTE:** *Make sure to run default dataframe else error will occur since the values are updated in the previuos fucnctions.*

In [0]:
for index, row in df.iterrows():
  print (index, row["Months"], row["Climate"])

####10) Saving data-frame as .csv file

In [0]:
df.to_csv('file_name.csv')